Jbbs/NodeRed/Dashboard_Boil
[
    {
        "id": "a83b8640.aef7b8",
        "type": "ui_template",
        "z": "96216b22.d59dc8",
        "group": "8aed3725.929458",
        "name": "stepBoilTable",
        "order": 4,
        "width": "6",
        "height": "4",
        "format": "<table style=\"width : 100%;\">\n<table style=\"width : 100%;\">\n    <tr>\n      <th align=\"left\" >Step</th>\n      <th>°C</th>\n      <th>Durata</th>\n      <th style=\"text-align : right;\">\n         <md-button class=\"md-button\" ng-click=\"send({payload: -1})\">\n              <ng-md-icon icon=\"stop\"></ng-md-icon>\n          </md-button>\n      </th>\n    </tr>\n    <tr ng-repeat=\"step in msg.payload\">\n        <td>{{step.desc}}</td>\n        <td>{{step.temp}}</td>\n        <td style=\"text-align : right;\">{{step.time}}</td>\n        <td style=\"text-align : right;\">\n           <md-button class=\"md-button\" ng-click=\"send({payload: $index})\">\n                <ng-md-icon icon=\"play_arrow\"></ng-md-icon>\n            </md-button>\n        </td>\n    </tr>\n  </table>\n",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "x": 1183.756103515625,
        "y": 459,
        "wires": [
            [
                "1bca4d88.cda692"
            ]
        ]
    },
    {
        "id": "122bea57.2d3a16",
        "type": "sqlite",
        "z": "96216b22.d59dc8",
        "mydb": "5b7e929d.9fa20c",
        "name": "jbbs",
        "x": 1045,
        "y": 375.2442321777344,
        "wires": [
            [
                "a83b8640.aef7b8",
                "b44e7104.b796c",
                "a8b584ff.328248"
            ]
        ]
    },
    {
        "id": "83a0ae30.d57b3",
        "type": "function",
        "z": "96216b22.d59dc8",
        "name": "SelectBoilSteps",
        "func": "var id = msg.payload.id;\n\nmsg.topic = \"select s.*, r.desc as 'ricetta' \";\nmsg.topic += \" from boilstep as s \";\nmsg.topic += \" inner join recipe as r \";\nmsg.topic += \" on s.idRicetta =r.id \";\nmsg.topic += \" where s.idRicetta=\" + id;\nmsg.topic += \" order by prog;\";\nreturn (msg);",
        "outputs": "1",
        "noerr": 0,
        "x": 1227.9666442871094,
        "y": 264.866512298584,
        "wires": [
            [
                "122bea57.2d3a16"
            ]
        ]
    },
    {
        "id": "9efb5361.d736e",
        "type": "mqtt out",
        "z": "96216b22.d59dc8",
        "name": "",
        "topic": "dashboard/boil/start",
        "qos": "2",
        "retain": "",
        "broker": "fe2dcf7a.8b271",
        "x": 1578.111083984375,
        "y": 436.15533447265625,
        "wires": []
    },
    {
        "id": "dd97146a.69f758",
        "type": "mqtt out",
        "z": "96216b22.d59dc8",
        "name": "",
        "topic": "dashboard/boil/load",
        "qos": "2",
        "retain": "",
        "broker": "fe2dcf7a.8b271",
        "x": 1580,
        "y": 369.3775634765625,
        "wires": []
    },
    {
        "id": "b44e7104.b796c",
        "type": "function",
        "z": "96216b22.d59dc8",
        "name": "0=>False, 1=>True",
        "func": "for (var ind in msg.payload) {\n    if (msg.payload[ind].pump === 0) {\n        msg.payload[ind].pump = false;\n    } else {\n        msg.payload[ind].pump = true;\n    }\n}\nreturn msg",
        "outputs": "1",
        "noerr": 0,
        "x": 1234.2999267578125,
        "y": 375.97760009765625,
        "wires": [
            [
                "dd97146a.69f758"
            ]
        ]
    },
    {
        "id": "1ac7fa82.731745",
        "type": "mqtt out",
        "z": "96216b22.d59dc8",
        "name": "",
        "topic": "dashboard/boil/stop",
        "qos": "2",
        "retain": "",
        "broker": "fe2dcf7a.8b271",
        "x": 1576.7666015625,
        "y": 504.1108703613281,
        "wires": []
    },
    {
        "id": "1bca4d88.cda692",
        "type": "switch",
        "z": "96216b22.d59dc8",
        "name": "Switch send",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "lt",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 1368.6666259765625,
        "y": 461.57757568359375,
        "wires": [
            [
                "9efb5361.d736e"
            ],
            [
                "1ac7fa82.731745"
            ]
        ]
    },
    {
        "id": "a8b584ff.328248",
        "type": "debug",
        "z": "96216b22.d59dc8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1180,
        "y": 560,
        "wires": []
    },
    {
        "id": "8aed3725.929458",
        "type": "ui_group",
        "z": "",
        "name": "Boil",
        "tab": "c3ed2d11.076da",
        "order": 4,
        "disp": false,
        "width": "6"
    },
    {
        "id": "5b7e929d.9fa20c",
        "type": "sqlitedb",
        "z": "",
        "db": "/home/pi/db/jbbs.sqlite"
    },
    {
        "id": "fe2dcf7a.8b271",
        "type": "mqtt-broker",
        "z": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "c3ed2d11.076da",
        "type": "ui_tab",
        "z": "",
        "name": "Jbbs",
        "icon": "dashboard",
        "order": 2
    }
]