Jbbs/NodeRed/flows
[
    {
        "id": "f4141af0.d89288",
        "type": "tab",
        "label": "Indicatori"
    },
    {
        "id": "ac4d4274.12dae",
        "type": "tab",
        "label": "Dashboard"
    },
    {
        "id": "1f79b609.15d25a",
        "type": "ui_group",
        "z": "",
        "name": "Mash",
        "tab": "c3ed2d11.076da",
        "order": 3,
        "disp": false,
        "width": "6"
    },
    {
        "id": "c3ed2d11.076da",
        "type": "ui_tab",
        "z": "",
        "name": "Jbbs",
        "icon": "dashboard",
        "order": 2
    },
    {
        "id": "fe2dcf7a.8b271",
        "type": "mqtt-broker",
        "z": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "Jbbs-NodeRed",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "b46b75cb.cfdf28",
        "type": "ui_tab",
        "z": "",
        "name": "Recipe",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "b759a2a3.a6d76",
        "type": "ui_group",
        "z": "",
        "name": "Elenco Ricette",
        "tab": "b46b75cb.cfdf28",
        "disp": true,
        "width": "6"
    },
    {
        "id": "11f912be.b76ccd",
        "type": "ui_group",
        "z": "",
        "name": "Sparge",
        "tab": "c3ed2d11.076da",
        "order": 2,
        "disp": false,
        "width": "6"
    },
    {
        "id": "faee2d.c36841d",
        "type": "ui_group",
        "z": "",
        "name": "Boil",
        "tab": "c3ed2d11.076da",
        "order": 4,
        "disp": false,
        "width": "6"
    },
    {
        "id": "7d8e8634.02a138",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "true",
            "allowSwipe": "true",
            "lockMenu": "false",
            "allowTempTheme": "false",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 0,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "cfbf4108.de9a2",
        "type": "sqlitedb",
        "z": "",
        "db": "/home/pi/db/jbbs.sqlite"
    },
    {
        "id": "df50dad2.914f58",
        "type": "json",
        "z": "f4141af0.d89288",
        "name": "",
        "pretty": false,
        "x": 301.4445343017578,
        "y": 385.7777404785156,
        "wires": [
            [
                "60b48703.21d318",
                "ed9e5a9f.4ad9d8",
                "ae585e41.42f7e"
            ]
        ]
    },
    {
        "id": "bfec0bd8.99c578",
        "type": "mqtt in",
        "z": "f4141af0.d89288",
        "name": "mash/status",
        "topic": "mash/status",
        "qos": "0",
        "broker": "fe2dcf7a.8b271",
        "x": 105.66665649414062,
        "y": 385.7777404785156,
        "wires": [
            [
                "df50dad2.914f58"
            ]
        ]
    },
    {
        "id": "60b48703.21d318",
        "type": "ui_template",
        "z": "f4141af0.d89288",
        "group": "1f79b609.15d25a",
        "name": "Mash Temp Gauge",
        "order": 1,
        "width": "0",
        "height": "0",
        "format": "<script src=\"/myjs/myGauge-min.js\"></script>\n<script>\nvar radial4;\n    (function(scope){\n        scope.$watch('msg', function(msg) {\n           if (typeof(msg.payload.desc) != \"undefined\") radial4.setUnitString(msg.payload.desc);\n           if (typeof(msg.payload.tempActual) != \"undefined\") radial4.setValue(msg.payload.tempActual);\n//           if (typeof(msg.payload.max) != \"undefined\") radial4.setMaxValue(msg.payload.max);\n//           if (typeof(msg.payload.tempStart) != \"undefined\") radial4.setMinValue(msg.payload.tempStart);\n           if (typeof(msg.payload.tempTarget) != \"undefined\") radial4.setThreshold(msg.payload.tempTarget);\n           if (typeof(msg.payload.pump) != \"undefined\") {\n\t\t\t\tradial4.blinkUserLed(msg.payload.pump); \n\t\t\t\tradial4.setUserLedOnOff(msg.payload.pump); \n\t\t\t}\n           if (typeof(msg.payload.fire) != \"undefined\") {\n\t\t\t\tradial4.blinkLed(msg.payload.fire); \n\t\t\t\tradial4.setLedOnOff(msg.payload.fire); \n\t\t\t}\n           if (typeof(msg.payload.trend) != \"undefined\")\n            {\n                if (msg.payload.trend==1)     radial4.setTrend(steelseries.TrendState.UP);\n                if (msg.payload.trend==0)     radial4.setTrend(steelseries.TrendState.STEADY);\n                if (msg.payload.trend==-1)    radial4.setTrend(steelseries.TrendState.DOWN);\n                if (msg.payload.trend==-2)    radial4.setTrend(steelseries.TrendState.OFF);\n            }\n        });\n    })(scope);\n\n    var sections = [steelseries.Section(20, 50, 'rgba(0, 0, 220, 0.3)'),\n                        steelseries.Section(50, 70, 'rgba(0, 220, 0, 0.3)'),\n                        steelseries.Section(70, 80, 'rgba(220, 0, 0, 0.3)') ],\n\n            // Define one area\n    areas = [steelseries.Section(70, 80, 'rgba(220, 0, 0, 0.3)')],\n\n    radial4 = new steelseries.Radial('canvasRadial4', {\n            gaugeType: steelseries.GaugeType.TYPE4,\n            size: 292,\n            section: sections,\n            area: areas,\n            titleString: \"Mash\",\n            unitString: \"\",\n            threshold: 0,\n            thresholdRising: false,\n            userLedVisible: true,\n            useOdometer: false,\n            lcdVisible: false,\n            trendVisible: true,\n\t\t\tuserLedColor: steelseries.LedColor.BLUE_LED,\n\t\t\tPointerType: steelseries.PointerType.TYPE11,\n\t\t\tFrameDesign: steelseries.FrameDesign.BLACK_METAL,\n\t\t\tframeVisible: false,\n\t\t\tminValue : 20,\n\t\t\tmaxValue : 80\n        });\n                       \n//    radial4.setFrameDesign(steelseries.FrameDesign.BLACK_METAL);\n    radial4.setValue(0);\n    radial4.setThreshold(0);\n    radial4.blinkUserLed(0);\n//\tradial4.setPointerType(steelseries.PointerType.TYPE11)\n\n\n</script>\n\n<canvas id=\"canvasRadial4\" width=\"401\" height=\"401\"></canvas>\n",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "templateScope": "local",
        "x": 590,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "daae22a2.58d82",
        "type": "ui_template",
        "z": "f4141af0.d89288",
        "group": "1f79b609.15d25a",
        "name": "Mash Time Bar",
        "order": 3,
        "width": "6",
        "height": "1",
        "format": "<div layout=\"row\" layout-align=\"space-between center\">\n{{msg.payload.timeStart}}<progress value={{msg.progress}} max=\"100\"></progress>{{msg.payload.timeFinish}}\n</div>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "templateScope": "local",
        "x": 596.6000366210938,
        "y": 438.6000518798828,
        "wires": [
            []
        ]
    },
    {
        "id": "ed9e5a9f.4ad9d8",
        "type": "function",
        "z": "f4141af0.d89288",
        "name": "",
        "func": "if (msg.payload.timeFinish) {\n    msg.progress = 100 * (Date.now() - msg.payload.timeStart*1000) / (1000 * (msg.payload.timeFinish -msg.payload.timeStart));\n    data = new Date(msg.payload.timeStart * 1000);\n    msg.payload.timeStart = data.getHours() + \":\" + ((data.getMinutes() < 10) ? \"0\" :\"\") + data.getMinutes();\n    data = new Date(msg.payload.timeFinish * 1000);\n    msg.payload.timeFinish = data.getHours() + \":\" + ((data.getMinutes() < 10) ? \"0\" :\"\") + data.getMinutes();\n} else {\n    msg.progress = 0\n    msg.payload.timeStart = \"--:--\";\n    msg.payload.timeFinish = \"--:--\";\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 437.1999969482422,
        "y": 438.20005798339844,
        "wires": [
            [
                "daae22a2.58d82"
            ]
        ]
    },
    {
        "id": "cb6a9b3.dcb4e68",
        "type": "ui_template",
        "z": "f4141af0.d89288",
        "group": "11f912be.b76ccd",
        "name": "Sparge Temp Gauge",
        "order": 2,
        "width": "0",
        "height": "0",
        "format": "<script src=\"/myjs/myGauge-min.js\"></script>\n<script>\nvar radialSparge;\n    (function(scope){\n        scope.$watch('msg', function(msg) {\n           if (typeof(msg.payload.desc) != \"undefined\") radialSparge.setUnitString(msg.payload.desc);\n           if (typeof(msg.payload.tempActual) != \"undefined\") radialSparge.setValue(msg.payload.tempActual);\n           if (typeof(msg.payload.tempTarget) != \"undefined\") radialSparge.setThreshold(msg.payload.tempTarget);\n           if (typeof(msg.payload.boilValve) != \"undefined\") {\n//\t\t\t\tradialSparge.blinkUserLed(msg.payload.boilValve); \n\t\t\t\tradialSparge.setUserLedOnOff(msg.payload.boilValve); \n\t\t\t}\n           if (typeof(msg.payload.fire) != \"undefined\") {\n\t\t\t\tradialSparge.blinkLed(msg.payload.fire); \n\t\t\t\tradialSparge.setLedOnOff(msg.payload.fire); \n\t\t\t}\n           if (typeof(msg.payload.trend) != \"undefined\")\n            {\n                if (msg.payload.trend==1)     radialSparge.setTrend(steelseries.TrendState.UP);\n                if (msg.payload.trend==0)     radialSparge.setTrend(steelseries.TrendState.STEADY);\n                if (msg.payload.trend==-1)    radialSparge.setTrend(steelseries.TrendState.DOWN);\n                if (msg.payload.trend==-2)    radialSparge.setTrend(steelseries.TrendState.OFF);\n            }\n        });\n    })(scope);\n\n    var sections = [steelseries.Section(20, 76, 'rgba(0, 0, 220, 0.3)'),\n                        steelseries.Section(76, 80, 'rgba(0, 220, 0, 0.3)'),\n                        steelseries.Section(80, 90, 'rgba(220, 0, 0, 0.3)') ],\n\n            // Define one area\n    areas = [steelseries.Section(76, 80, 'rgba(0, 220, 0, 0.3)')],\n\n    radialSparge = new steelseries.Radial('canvasRadialSparge', {\n            gaugeType: steelseries.GaugeType.TYPE4,\n            size: 292,\n            section: sections,\n            area: areas,\n            titleString: \"Sparge\",\n            unitString: \"\",\n            threshold: 0,\n            thresholdRising: false,\n            userLedVisible: true,\n            useOdometer: false,\n            lcdVisible: false,\n            trendVisible: true,\n//\t\t\tuserLedColor: steelseries.LedColor.BLUE_LED,\n\t\t\tPointerType: steelseries.PointerType.TYPE11,\n\t\t\tFrameDesign: steelseries.FrameDesign.BLACK_METAL,\n\t\t\tframeVisible: false,\n\t\t\tminValue : 20,\n\t\t\tmaxValue : 90\n        });\n                       \n//    radial4.setFrameDesign(steelseries.FrameDesign.BLACK_METAL);\n    radialSparge.setValue(0);\n    radialSparge.setThreshold(0);\n    radialSparge.blinkUserLed(0);\n//\tradial4.setPointerType(steelseries.PointerType.TYPE11)\n\n\n</script>\n\n<canvas id=\"canvasRadialSparge\" width=\"401\" height=\"401\"></canvas>\n",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "templateScope": "local",
        "x": 440,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "892668f2.b2dce8",
        "type": "mqtt in",
        "z": "f4141af0.d89288",
        "name": "sparge/status",
        "topic": "sparge/status",
        "qos": "0",
        "broker": "fe2dcf7a.8b271",
        "x": 112,
        "y": 62,
        "wires": [
            [
                "bb6555b9.1098b8"
            ]
        ]
    },
    {
        "id": "bb6555b9.1098b8",
        "type": "json",
        "z": "f4141af0.d89288",
        "name": "",
        "pretty": false,
        "x": 230,
        "y": 120,
        "wires": [
            [
                "cb6a9b3.dcb4e68",
                "2a2da0f7.2929e"
            ]
        ]
    },
    {
        "id": "c79d102f.cb88f",
        "type": "ui_template",
        "z": "f4141af0.d89288",
        "group": "faee2d.c36841d",
        "name": "Boil Temp Gauge",
        "order": 1,
        "width": "0",
        "height": "0",
        "format": "<!DOCTYPE html>\n<script src=\"/myjs/myGauge-min.js\"></script>\n<script>\nvar radialBoil;\n    (function(scope){\n        scope.$watch('msg', function(msg) {\n           if (typeof(msg.payload.desc) != \"undefined\") radialBoil.setUnitString(msg.payload.desc);\n           if (typeof(msg.payload.tempActual) != \"undefined\") radialBoil.setValue(msg.payload.tempActual);\n           if (typeof(msg.payload.tempTarget) != \"undefined\") radialBoil.setThreshold(msg.payload.tempTarget);\n           if (typeof(msg.payload.bigFire) != \"undefined\") {\n\t\t\t\tradialBoil.blinkUserLed(msg.payload.bigFire); \n\t\t\t\tradialBoil.setUserLedOnOff(msg.payload.bigFire); \n\t\t\t}\n           if (typeof(msg.payload.smallFire) != \"undefined\") {\n\t\t\t\tradialBoil.blinkLed(msg.payload.smallFire); \n\t\t\t\tradialBoil.setLedOnOff(msg.payload.smallFire); \n\t\t\t}\n           if (typeof(msg.payload.trend) != \"undefined\")\n            {\n                if (msg.payload.trend==1)     radialBoil.setTrend(steelseries.TrendState.UP);\n                if (msg.payload.trend==0)     radialBoil.setTrend(steelseries.TrendState.STEADY);\n                if (msg.payload.trend==-1)    radialBoil.setTrend(steelseries.TrendState.DOWN);\n                if (msg.payload.trend==-2)    radialBoil.setTrend(steelseries.TrendState.OFF);\n            }\n        });\n    })(scope);\n\n    var sections = [steelseries.Section(90, 99, 'rgba(0, 0, 220, 0.3)'),\n\t                        steelseries.Section(99, 101, 'rgba(0, 220, 0, 0.3)'),\n\t                        steelseries.Section(101, 104, 'rgba(220, 0, 0, 0.3)') ],\n\n            // Define one area\n    areas = [steelseries.Section(99, 101, 'rgba(0, 220, 0, 0.3)')],\n\n    radialBoil = new steelseries.Radial('canvasRadialBoil', {\n            gaugeType: steelseries.GaugeType.TYPE4,\n            size: 292,\n            section: sections,\n            area: areas,\n            titleString: \"Boil\",\n            unitString: \"\",\n            threshold: 99.5,\n//            thresholdVisible: false,\n            thresholdRising: false,\n            userLedVisible: true,\n            useOdometer: false,\n            lcdVisible: false,\n            trendVisible: true,\n\t\t\tuserLedColor: steelseries.LedColor.RED_LED,\n\t\t\tPointerType: steelseries.PointerType.TYPE11,\n\t\t\tFrameDesign: steelseries.FrameDesign.BLACK_METAL,\n\t\t\tframeVisible: false,\n\t\t\tminValue : 90,\n\t\t\tmaxValue : 104\n        });\n                       \n//    radial4.setFrameDesign(steelseries.FrameDesign.BLACK_METAL);\n    radialBoil.setValue(0);\n//    radialBoil.setThreshold(0);\n    radialBoil.blinkUserLed(0);\n//\tradial4.setPointerType(steelseries.PointerType.TYPE11)\n\n\n</script>\n\n<canvas id=\"canvasRadialBoil\" width=\"401\" height=\"401\"></canvas>\n",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "templateScope": "local",
        "x": 563,
        "y": 642,
        "wires": [
            []
        ]
    },
    {
        "id": "f833314b.e3d7e",
        "type": "mqtt in",
        "z": "f4141af0.d89288",
        "name": "boil/status",
        "topic": "boil/status",
        "qos": "0",
        "broker": "fe2dcf7a.8b271",
        "x": 100,
        "y": 640,
        "wires": [
            [
                "7d50104.7bf54f"
            ]
        ]
    },
    {
        "id": "7d50104.7bf54f",
        "type": "json",
        "z": "f4141af0.d89288",
        "name": "",
        "x": 308,
        "y": 640,
        "wires": [
            [
                "c79d102f.cb88f",
                "c1838d6b.42632",
                "b67170f2.83949",
                "50b0bbc9.b844e4",
                "414110ec.f04e6"
            ]
        ]
    },
    {
        "id": "c1838d6b.42632",
        "type": "function",
        "z": "f4141af0.d89288",
        "name": "",
        "func": "if (msg.payload.timeFinish) {\n    msg.progress = 100 * (Date.now() - msg.payload.timeStart*1000) / (1000 * (msg.payload.timeFinish -msg.payload.timeStart));\n    data = new Date(msg.payload.timeStart * 1000);\n    msg.payload.timeStart = data.getHours() + \":\" + ((data.getMinutes() < 10) ? \"0\" :\"\") + data.getMinutes();\n    data = new Date(msg.payload.timeFinish * 1000);\n    msg.payload.timeFinish = data.getHours() + \":\" + ((data.getMinutes() < 10) ? \"0\" :\"\") + data.getMinutes();\n} else {\n    msg.progress = 0\n    msg.payload.timeStart = \"--:--\";\n    msg.payload.timeFinish = \"--:--\";\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 840,
        "wires": [
            [
                "716cc6f.7ab1f38"
            ]
        ]
    },
    {
        "id": "716cc6f.7ab1f38",
        "type": "ui_template",
        "z": "f4141af0.d89288",
        "group": "faee2d.c36841d",
        "name": "Boil Time Bar",
        "order": 3,
        "width": "6",
        "height": "1",
        "format": "<div layout=\"row\" layout-align=\"space-between center\">\n{{msg.payload.timeStart}}<progress value={{msg.progress}} max=\"100\"></progress>{{msg.payload.timeFinish}}\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "x": 560,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "2b0c79bb.edd726",
        "type": "ui_switch",
        "z": "f4141af0.d89288",
        "name": "boilReady",
        "label": "Pronto ad iniziare",
        "tooltip": "Completate tutte le azioni manuali",
        "group": "faee2d.c36841d",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "x": 620,
        "y": 780,
        "wires": [
            [
                "f2c72a7f.0a0878"
            ]
        ]
    },
    {
        "id": "f2c72a7f.0a0878",
        "type": "mqtt out",
        "z": "f4141af0.d89288",
        "name": "dashboard/boil/ready",
        "topic": "dashboard/boil/ready",
        "qos": "2",
        "retain": "",
        "broker": "fe2dcf7a.8b271",
        "x": 800,
        "y": 780,
        "wires": []
    },
    {
        "id": "4a1d4aa7.e016c4",
        "type": "mqtt out",
        "z": "f4141af0.d89288",
        "name": "dashboard/boil/setboil",
        "topic": "dashboard/boil/setboil",
        "qos": "2",
        "retain": "",
        "broker": "fe2dcf7a.8b271",
        "x": 800,
        "y": 720,
        "wires": []
    },
    {
        "id": "b67170f2.83949",
        "type": "function",
        "z": "f4141af0.d89288",
        "name": "",
        "func": "msg.payload=msg.payload.tempTarget;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 364.8368377685547,
        "y": 721.4410552978516,
        "wires": [
            [
                "988aeddc.64a62"
            ]
        ]
    },
    {
        "id": "50b0bbc9.b844e4",
        "type": "function",
        "z": "f4141af0.d89288",
        "name": "",
        "func": "msg.payload=msg.payload.status;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 780,
        "wires": [
            [
                "2bf0bb43.aa3954"
            ]
        ]
    },
    {
        "id": "bed82913.376e48",
        "type": "ui_switch",
        "z": "f4141af0.d89288",
        "name": "spargeReady",
        "label": "Pronto ad iniziare",
        "tooltip": "Completate tutte le azioni manuali",
        "group": "11f912be.b76ccd",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "x": 540,
        "y": 180,
        "wires": [
            [
                "830bc0a3.3b19c"
            ]
        ]
    },
    {
        "id": "86e3b8dc.b41188",
        "type": "ui_switch",
        "z": "f4141af0.d89288",
        "name": "mashReady",
        "label": "Pronto ad iniziare",
        "tooltip": "Completate tutte le azioni manuali",
        "group": "1f79b609.15d25a",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "x": 670,
        "y": 500,
        "wires": [
            [
                "d83ed393.f5a89"
            ]
        ]
    },
    {
        "id": "ae585e41.42f7e",
        "type": "function",
        "z": "f4141af0.d89288",
        "name": "",
        "func": "msg.payload=msg.payload.status;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 500,
        "wires": [
            [
                "3bfa35ce.11e5ca"
            ]
        ]
    },
    {
        "id": "2a2da0f7.2929e",
        "type": "function",
        "z": "f4141af0.d89288",
        "name": "",
        "func": "msg.payload=msg.payload.status;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 230,
        "y": 180,
        "wires": [
            [
                "6300709c.eee81"
            ]
        ]
    },
    {
        "id": "830bc0a3.3b19c",
        "type": "mqtt out",
        "z": "f4141af0.d89288",
        "name": "dashboard/sparge/ready",
        "topic": "dashboard/sparge/ready",
        "qos": "2",
        "retain": "",
        "broker": "fe2dcf7a.8b271",
        "x": 770,
        "y": 180,
        "wires": []
    },
    {
        "id": "d83ed393.f5a89",
        "type": "mqtt out",
        "z": "f4141af0.d89288",
        "name": "dashboard/mash/ready",
        "topic": "dashboard/mash/ready",
        "qos": "2",
        "retain": "",
        "broker": "fe2dcf7a.8b271",
        "x": 880,
        "y": 500,
        "wires": []
    },
    {
        "id": "3bfa35ce.11e5ca",
        "type": "rbe",
        "z": "f4141af0.d89288",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "x": 512.2358016967773,
        "y": 500.53125762939453,
        "wires": [
            [
                "86e3b8dc.b41188"
            ]
        ]
    },
    {
        "id": "6300709c.eee81",
        "type": "rbe",
        "z": "f4141af0.d89288",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "x": 359.23860931396484,
        "y": 180.53124237060547,
        "wires": [
            [
                "bed82913.376e48"
            ]
        ]
    },
    {
        "id": "2bf0bb43.aa3954",
        "type": "rbe",
        "z": "f4141af0.d89288",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "x": 490,
        "y": 780,
        "wires": [
            [
                "2b0c79bb.edd726"
            ]
        ]
    },
    {
        "id": "46c24e4b.1a37a",
        "type": "ui_template",
        "z": "ac4d4274.12dae",
        "group": "1f79b609.15d25a",
        "name": "stepMashTable",
        "order": 4,
        "width": "0",
        "height": "0",
        "format": "<div layout=\"row\" layout-align=\"start center\">\n<span flex>Ricetta:</span>\n<span flex> {{msg.payload[0].ricetta}}</span>\n<span flex></span>\n<span flex>\n\t<md-button class=\"md-icon-button\" ng-click=\"send({topic: 'select * from Recipe'})\">\n\t\t<ng-md-icon icon=\"list\"></ng-md-icon>\n\t</md-button>\n</span>\n</div>\n\n<div layout=\"row\" layout-align=\"start center\">\n\t<span flex>Step</span>\n\t<span flex style=\"text-align : right;\">°C</span>\n\t<span flex style=\"text-align : right;\">Durata</span>\n\t<span flex>\n         <md-button class=\"md-icon-button\" ng-click=\"send({payload: -1})\">\n              <ng-md-icon icon=\"stop\"></ng-md-icon>\n          </md-button>\n\t</span>\n</div>\n\n<div layout=\"row\" layout-align=\"start center\" ng-repeat=\"step in msg.payload\">\n\t<span flex >{{step.desc}}</span>\n\t<span flex style=\"text-align : right;\">{{step.temp}}</span>\n\t<span flex style=\"text-align : right;\">{{step.time}}</span>\n\t<span flex >\n\t\t<md-button class=\"md-icon-button\" ng-click=\"send({payload: $index})\">\n\t\t     <ng-md-icon icon=\"play_arrow\"></ng-md-icon>\n\t    </md-button>\n\t</span>\n</div>\n",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "templateScope": "local",
        "x": 370.32269287109375,
        "y": 456.88909912109375,
        "wires": [
            [
                "54008811.ca9bd8"
            ]
        ]
    },
    {
        "id": "5fda919.fbc837",
        "type": "sqlite",
        "z": "ac4d4274.12dae",
        "mydb": "cfbf4108.de9a2",
        "name": "jbbs",
        "x": 197.56663513183594,
        "y": 372.1333312988281,
        "wires": [
            [
                "46c24e4b.1a37a",
                "df85f0c2.95173"
            ]
        ]
    },
    {
        "id": "c59de9f.bfd6c18",
        "type": "ui_ui_control",
        "z": "ac4d4274.12dae",
        "name": "openTab",
        "x": 660,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "f9d0eab8.9154a8",
        "type": "ui_template",
        "z": "ac4d4274.12dae",
        "group": "b759a2a3.a6d76",
        "name": "RecipeTable",
        "order": 4,
        "width": "0",
        "height": "0",
        "format": "<div layout=\"row\" layout-align=\"start center\">\n\t<span flex>Descrizione</span>\n\t<span flex></span>\n</div>\n\n<div layout=\"row\" layout-align=\"start center\" ng-repeat=\"recipe in msg.payload\">\n\t<span flex >{{recipe.id}}</span>\n\t<span flex >{{recipe.desc}}</span>\n\t<span flex >\n\t   <md-button class=\"md-icon-button\" ng-click=\"send({payload: recipe})\">\n\t        <ng-md-icon icon=\"play_arrow\"></ng-md-icon>\n\t   </md-button>\n\t</span>\n</div>\n",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "templateScope": "local",
        "x": 458.5332908630371,
        "y": 219.75558757781982,
        "wires": [
            [
                "91b5fb41.cd1048",
                "1f266855.3cd278"
            ]
        ]
    },
    {
        "id": "2b8f2180.4a0b1e",
        "type": "function",
        "z": "ac4d4274.12dae",
        "name": "Splitter",
        "func": "var msgTab = { \"payload\" : \"Recipe\" }\nreturn [msg, msgTab];",
        "outputs": "2",
        "noerr": 0,
        "x": 464.90009689331055,
        "y": 166.2000560760498,
        "wires": [
            [
                "f9d0eab8.9154a8"
            ],
            [
                "c59de9f.bfd6c18"
            ]
        ]
    },
    {
        "id": "1a95a192.79713e",
        "type": "sqlite",
        "z": "ac4d4274.12dae",
        "mydb": "cfbf4108.de9a2",
        "name": "jbbs",
        "x": 193.86666870117188,
        "y": 222.42222595214844,
        "wires": [
            [
                "2b8f2180.4a0b1e"
            ]
        ]
    },
    {
        "id": "91b5fb41.cd1048",
        "type": "function",
        "z": "ac4d4274.12dae",
        "name": "SelectMashSteps",
        "func": "var msgTab = { \"payload\" : \"Jbbs\" };\n\n\nvar id = msg.payload.id;\n\nmsg.topic = \"select s.*, r.desc as 'ricetta' \";\nmsg.topic += \" from step as s \";\nmsg.topic += \" inner join recipe as r \";\nmsg.topic += \" on s.idRicetta =r.id \";\nmsg.topic += \" where s.idRicetta=\" + id;\nmsg.topic += \" order by prog;\";\nreturn [msgTab, msg];",
        "outputs": "2",
        "noerr": 0,
        "x": 477.5333595275879,
        "y": 265.75561809539795,
        "wires": [
            [
                "c59de9f.bfd6c18"
            ],
            [
                "5fda919.fbc837"
            ]
        ]
    },
    {
        "id": "33e75972.5aa4c6",
        "type": "mqtt out",
        "z": "ac4d4274.12dae",
        "name": "",
        "topic": "dashboard/mash/start",
        "qos": "2",
        "retain": "",
        "broker": "fe2dcf7a.8b271",
        "x": 780,
        "y": 460,
        "wires": []
    },
    {
        "id": "8d58b85e.873dd8",
        "type": "mqtt out",
        "z": "ac4d4274.12dae",
        "name": "",
        "topic": "dashboard/mash/load",
        "qos": "2",
        "retain": "",
        "broker": "fe2dcf7a.8b271",
        "x": 787.5666542053223,
        "y": 369.2666606903076,
        "wires": []
    },
    {
        "id": "df85f0c2.95173",
        "type": "function",
        "z": "ac4d4274.12dae",
        "name": "0=>False, 1=>True",
        "func": "for (var ind in msg.payload) {\n    if (msg.payload[ind].pump === 0) {\n        msg.payload[ind].pump = false;\n    } else {\n        msg.payload[ind].pump = true;\n    }\n}\nreturn msg",
        "outputs": "1",
        "noerr": 0,
        "x": 448.8666343688965,
        "y": 368.8666887283325,
        "wires": [
            [
                "8d58b85e.873dd8"
            ]
        ]
    },
    {
        "id": "f741eb4b.41d328",
        "type": "mqtt out",
        "z": "ac4d4274.12dae",
        "name": "",
        "topic": "dashboard/mash/stop",
        "qos": "2",
        "retain": "",
        "broker": "fe2dcf7a.8b271",
        "x": 781.3333129882812,
        "y": 504.9999694824219,
        "wires": []
    },
    {
        "id": "abce0306.684ba",
        "type": "inject",
        "z": "ac4d4274.12dae",
        "name": "",
        "topic": "select * from Recipe",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 165.33331680297852,
        "y": 122.7999677658081,
        "wires": [
            [
                "1a95a192.79713e"
            ]
        ]
    },
    {
        "id": "54008811.ca9bd8",
        "type": "switch",
        "z": "ac4d4274.12dae",
        "name": "Switch send",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "gte",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "lt",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "outputs": 3,
        "x": 559.2333106994629,
        "y": 456.46667766571045,
        "wires": [
            [
                "1a95a192.79713e"
            ],
            [
                "33e75972.5aa4c6"
            ],
            [
                "f741eb4b.41d328",
                "e65d54e8.795558"
            ]
        ]
    },
    {
        "id": "d2ab5e5a.f8aa1",
        "type": "ui_template",
        "z": "ac4d4274.12dae",
        "group": "faee2d.c36841d",
        "name": "stepBoilTable",
        "order": 5,
        "width": "6",
        "height": "4",
        "format": "<div layout=\"row\" layout-align=\"start center\">\n\t<span flex>Step</span>\n\t<span flex style=\"text-align : right;\">Durata</span>\n\t<span flex>\n         <md-button class=\"md-icon-button\" ng-click=\"send({payload: -1})\">\n              <ng-md-icon icon=\"stop\"></ng-md-icon>\n          </md-button>\n\t</span>\n</div>\n\n<div layout=\"row\" layout-align=\"start center\" ng-repeat=\"step in msg.payload\">\n\t<span flex >{{step.desc}}</span>\n\t<span flex style=\"text-align : right;\">{{step.time}}</span>\n\t<span flex >\n\t\t<md-button class=\"md-icon-button\" ng-click=\"send({payload: $index})\">\n\t\t     <ng-md-icon icon=\"play_arrow\"></ng-md-icon>\n\t    </md-button>\n\t</span>\n</div>\n",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "templateScope": "local",
        "x": 440,
        "y": 700,
        "wires": [
            [
                "d949786e.ec6208"
            ]
        ]
    },
    {
        "id": "e7a0d0c2.2eeb",
        "type": "sqlite",
        "z": "ac4d4274.12dae",
        "mydb": "cfbf4108.de9a2",
        "name": "jbbs",
        "x": 730,
        "y": 280,
        "wires": [
            [
                "a510667d.067e38"
            ]
        ]
    },
    {
        "id": "1f266855.3cd278",
        "type": "function",
        "z": "ac4d4274.12dae",
        "name": "SelectBoilSteps",
        "func": "var id = msg.payload.id;\n\nmsg.topic = \"select * \";\nmsg.topic += \" from boilstep \";\nmsg.topic += \" where idRicetta=\" + id;\nmsg.topic += \" order by prog;\";\nreturn (msg);",
        "outputs": "1",
        "noerr": 0,
        "x": 700,
        "y": 220,
        "wires": [
            [
                "e7a0d0c2.2eeb"
            ]
        ]
    },
    {
        "id": "846384fa.461cc8",
        "type": "mqtt out",
        "z": "ac4d4274.12dae",
        "name": "",
        "topic": "dashboard/boil/start",
        "qos": "2",
        "retain": "",
        "broker": "fe2dcf7a.8b271",
        "x": 810,
        "y": 660,
        "wires": []
    },
    {
        "id": "a510667d.067e38",
        "type": "mqtt out",
        "z": "ac4d4274.12dae",
        "name": "",
        "topic": "dashboard/mash/loadboil",
        "qos": "2",
        "retain": "",
        "broker": "fe2dcf7a.8b271",
        "x": 970,
        "y": 260,
        "wires": []
    },
    {
        "id": "4b3bbcd5.4561c4",
        "type": "mqtt out",
        "z": "ac4d4274.12dae",
        "name": "",
        "topic": "dashboard/boil/stop",
        "qos": "2",
        "retain": "",
        "broker": "fe2dcf7a.8b271",
        "x": 810,
        "y": 740,
        "wires": []
    },
    {
        "id": "d949786e.ec6208",
        "type": "switch",
        "z": "ac4d4274.12dae",
        "name": "Switch send",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "lt",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 620,
        "y": 700,
        "wires": [
            [
                "846384fa.461cc8"
            ],
            [
                "4b3bbcd5.4561c4"
            ]
        ]
    },
    {
        "id": "e65d54e8.795558",
        "type": "mqtt out",
        "z": "ac4d4274.12dae",
        "name": "",
        "topic": "dashboard/sparge/stop",
        "qos": "2",
        "retain": "",
        "broker": "fe2dcf7a.8b271",
        "x": 780,
        "y": 560,
        "wires": []
    },
    {
        "id": "7fd1872.ca59678",
        "type": "mqtt in",
        "z": "ac4d4274.12dae",
        "name": "mash/boil/load",
        "topic": "mash/boil/load",
        "qos": "2",
        "broker": "fe2dcf7a.8b271",
        "x": 150,
        "y": 700,
        "wires": [
            [
                "43f7ff45.6b8e1"
            ]
        ]
    },
    {
        "id": "43f7ff45.6b8e1",
        "type": "json",
        "z": "ac4d4274.12dae",
        "name": "",
        "pretty": false,
        "x": 290,
        "y": 700,
        "wires": [
            [
                "d2ab5e5a.f8aa1"
            ]
        ]
    },
    {
        "id": "beb69a11.3459c8",
        "type": "ui_slider",
        "z": "f4141af0.d89288",
        "name": "",
        "label": "Boil Temp",
        "tooltip": "",
        "group": "faee2d.c36841d",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "",
        "min": "99",
        "max": "101",
        "step": "0.1",
        "x": 620,
        "y": 720,
        "wires": [
            [
                "4a1d4aa7.e016c4"
            ]
        ]
    },
    {
        "id": "414110ec.f04e6",
        "type": "debug",
        "z": "f4141af0.d89288",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 550,
        "y": 600,
        "wires": []
    },
    {
        "id": "988aeddc.64a62",
        "type": "rbe",
        "z": "f4141af0.d89288",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "property": "payload",
        "x": 490,
        "y": 720,
        "wires": [
            [
                "beb69a11.3459c8"
            ]
        ]
    }
]