Jbbs/NodeRed/Manuali
[
    {
        "id": "3faa3fc6.e3a32",
        "type": "tab",
        "label": "Comandi Manuali",
        "disabled": false,
        "info": ""
    },
    {
        "id": "cf5621ff.d0aaa",
        "type": "ui_button",
        "z": "3faa3fc6.e3a32",
        "name": "",
        "group": "11f912be.b76ccd",
        "order": 6,
        "width": "0",
        "height": "0",
        "passthru": false,
        "label": "Ricarica Ricetta Boil",
        "tooltip": "Ricarica parte boil della ricetta",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 220,
        "y": 120,
        "wires": [
            [
                "8bc0bfeb.cea49"
            ]
        ]
    },
    {
        "id": "8bc0bfeb.cea49",
        "type": "mqtt out",
        "z": "3faa3fc6.e3a32",
        "name": "dashboard/mash/sendrecipe",
        "topic": "dashboard/mash/sendrecipe",
        "qos": "2",
        "retain": "",
        "broker": "fe2dcf7a.8b271",
        "x": 480,
        "y": 120,
        "wires": []
    },
    {
        "id": "2506fc4f.580494",
        "type": "ui_text",
        "z": "3faa3fc6.e3a32",
        "group": "11f912be.b76ccd",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Comandi Manuali",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 210,
        "y": 60,
        "wires": []
    },
    {
        "id": "8e2c5588.fc9038",
        "type": "ui_template",
        "z": "3faa3fc6.e3a32",
        "group": "11f912be.b76ccd",
        "name": "Set Status",
        "order": 8,
        "width": 0,
        "height": 0,
        "format": "<div>\n\t<span flex>Tun: </span>\n\t<span flex>\n\t\t<select ng-model=\"selectedTun\" \n\t\t\t\tng-options='x.label for x in [ {label: \"Sparge\", nome:\"sparge\"},\n                                               {label: \"Boil\", nome:\"boil\"}]'>\n\t\t</select>\n\t</span>\n\t<span flex>Stato: </span>\n\t\t<select ng-model=\"selectedState\" \n\t\t\t\tng-options='x.label for x in [  {label: \"Warm./Fill.\", stato: 2},\n\t\t\t\t                                {label: \"Hot/Preboil\", stato: 3},\n\t\t\t\t                                {label: \"Sparging\", stato: 4}]'>\n\t\t</select>\n\t</span>\n\t<span flex >\n\t   <md-button class=\"md-icon-button\" ng-click=\"send({topic: 'dashboard/' + selectedTun.nome + '/setstatus', payload: selectedState.stato})\">\n\t        <ng-md-icon icon=\"play_arrow\"></ng-md-icon>\n\t   </md-button>\n\t</span>\n</div>\n",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "templateScope": "local",
        "x": 190,
        "y": 200,
        "wires": [
            [
                "8be5c7b8.0463a8"
            ]
        ]
    },
    {
        "id": "8be5c7b8.0463a8",
        "type": "mqtt out",
        "z": "3faa3fc6.e3a32",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "fe2dcf7a.8b271",
        "x": 410,
        "y": 200,
        "wires": []
    },
    {
        "id": "11f912be.b76ccd",
        "type": "ui_group",
        "z": "",
        "name": "Sparge",
        "tab": "c3ed2d11.076da",
        "order": 2,
        "disp": false,
        "width": "6"
    },
    {
        "id": "fe2dcf7a.8b271",
        "type": "mqtt-broker",
        "z": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "Jbbs-NodeRed",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "c3ed2d11.076da",
        "type": "ui_tab",
        "z": "",
        "name": "Jbbs",
        "icon": "dashboard",
        "order": 2
    }
]