Jbbs/NodeRed/Trigger
[
    {
        "id": "9e38ad60.d73c1",
        "type": "tab",
        "label": "Trigger"
    },
    {
        "id": "722d9b26.2c00f4",
        "type": "BooleanLogic",
        "z": "9e38ad60.d73c1",
        "name": "",
        "operation": "AND",
        "inputCount": 2,
        "topic": "result",
        "x": 496.99998474121094,
        "y": 236,
        "wires": [
            [
                "9f7420dd.bb90e"
            ]
        ]
    },
    {
        "id": "ec1fd316.fdf35",
        "type": "function",
        "z": "9e38ad60.d73c1",
        "name": "",
        "func": "\nreturn msg.payload.ready;",
        "outputs": 1,
        "noerr": 0,
        "x": 272.99998474121094,
        "y": 214,
        "wires": [
            [
                "722d9b26.2c00f4"
            ]
        ]
    },
    {
        "id": "16007b42.c64a05",
        "type": "mqtt in",
        "z": "9e38ad60.d73c1",
        "name": "mash/sparge",
        "topic": "mash/sparge",
        "qos": "0",
        "broker": "fe2dcf7a.8b271",
        "x": 256.99998474121094,
        "y": 258,
        "wires": [
            [
                "722d9b26.2c00f4"
            ]
        ]
    },
    {
        "id": "9f7420dd.bb90e",
        "type": "mqtt out",
        "z": "9e38ad60.d73c1",
        "name": "dashboard/sparge/start",
        "topic": "dashboard/sparge/start",
        "qos": "2",
        "retain": "",
        "broker": "fe2dcf7a.8b271",
        "x": 716.9999847412109,
        "y": 236,
        "wires": []
    },
    {
        "id": "40487d0b.b85aa4",
        "type": "mqtt in",
        "z": "9e38ad60.d73c1",
        "name": "sparge/status",
        "topic": "sparge/status",
        "qos": "0",
        "broker": "fe2dcf7a.8b271",
        "x": 252.99998474121094,
        "y": 138,
        "wires": [
            [
                "1dad6f06.f144b1"
            ]
        ]
    },
    {
        "id": "1dad6f06.f144b1",
        "type": "json",
        "z": "9e38ad60.d73c1",
        "name": "",
        "x": 269.99998474121094,
        "y": 178,
        "wires": [
            [
                "ec1fd316.fdf35"
            ]
        ]
    },
    {
        "id": "81340048.566e9",
        "type": "BooleanLogic",
        "z": "9e38ad60.d73c1",
        "name": "",
        "operation": "AND",
        "inputCount": 2,
        "topic": "result",
        "x": 492.9999694824219,
        "y": 426.8888854980469,
        "wires": [
            [
                "cbeecb3b.a10b08"
            ]
        ]
    },
    {
        "id": "dc11530e.fc68e",
        "type": "mqtt in",
        "z": "9e38ad60.d73c1",
        "name": "sparge/boil",
        "topic": "sparge/boil",
        "qos": "0",
        "broker": "fe2dcf7a.8b271",
        "x": 246.99998474121094,
        "y": 392.8888854980469,
        "wires": [
            [
                "81340048.566e9"
            ]
        ]
    },
    {
        "id": "cbeecb3b.a10b08",
        "type": "mqtt out",
        "z": "9e38ad60.d73c1",
        "name": "dashboard/boil/start",
        "topic": "dashboard/boil/start",
        "qos": "2",
        "retain": "",
        "broker": "fe2dcf7a.8b271",
        "x": 707.9999694824219,
        "y": 427.8888854980469,
        "wires": []
    },
    {
        "id": "623b4c88.6caa94",
        "type": "function",
        "z": "9e38ad60.d73c1",
        "name": "",
        "func": "\nreturn msg.payload.ready;",
        "outputs": 1,
        "noerr": 0,
        "x": 258.99998474121094,
        "y": 479.8888854980469,
        "wires": [
            [
                "81340048.566e9"
            ]
        ]
    },
    {
        "id": "e4b2a0e1.a46f4",
        "type": "mqtt in",
        "z": "9e38ad60.d73c1",
        "name": "boil/status",
        "topic": "boil/status",
        "qos": "0",
        "broker": "fe2dcf7a.8b271",
        "x": 249.99998474121094,
        "y": 558.8888854980469,
        "wires": [
            [
                "9054264e.e6d808"
            ]
        ]
    },
    {
        "id": "9054264e.e6d808",
        "type": "json",
        "z": "9e38ad60.d73c1",
        "name": "",
        "x": 258.99998474121094,
        "y": 518.8888854980469,
        "wires": [
            [
                "623b4c88.6caa94"
            ]
        ]
    },
    {
        "id": "316bf8e8.2cb158",
        "type": "comment",
        "z": "9e38ad60.d73c1",
        "name": "Trigger per inizio sparge",
        "info": "Aspetta che gli arrivi il messaggio di ready sia da mash che da sparge",
        "x": 556.8367767333984,
        "y": 107.61111450195312,
        "wires": []
    },
    {
        "id": "738d1912.9e5d98",
        "type": "comment",
        "z": "9e38ad60.d73c1",
        "name": "Trigger per inizio Boil",
        "info": "Aspetta che gli arrivi il messaggio di ready sia da boil che da sparge",
        "x": 542.8957366943359,
        "y": 339.8888854980469,
        "wires": []
    },
    {
        "id": "fe2dcf7a.8b271",
        "type": "mqtt-broker",
        "z": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    }
]